.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notice__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.notice__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 80%;
  z-index: 11;
  background-color: white;
}

.notice__title {
  font-size: 35px;
  font-weight: 700;
  color: var(--main-color);
}

.notices {
  padding: 30px 10px;
  min-height: 55%;
}

.notice {
  margin-bottom: 20px;
}

.notice i {
  color: var(--main-color);
  margin-right: 5px;
}

.notice:first-child {
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 530px) {
  .notice__title {
    font-size: 35px;
    margin: 100px 0 50px;
  }
  .notice__btn__close {
    font-size: 25px;
  }
  .notices {
    width: 90%;
    font-size: 11px;
  }
  .notice__btn__noshow {
    font-size: 15px;
  }
}

@media screen and (min-width: 530px) {
  .notice__title {
    font-size: 40px;
    margin: 140px 0 50px;
  }
  .notice__btn__close {
    font-size: 40px;
  }
  .notices {
    min-width: 70%;
    font-size: 19px;
  }
  .notice__btn__noshow {
    font-size: 20px;
  }
}

.notice__btn__close {
  position: absolute;
  color: grey;
  opacity: 0.6;
  cursor: pointer;
  top: 5%;
  right: 3%;
}

.notices {
  position: relative;
  border: 1px solid gray;
}

.notice .restaurant-lists {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  opacity: 1;
  margin-top: 20px;
  transition: all ease-out 0.3s;
}

.notice__btn__noshow {
  position: absolute;
  bottom: -50px;
  right: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.notice__btn__noshow i {
  margin-right: 10px;
}

.restaurant-lists {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  opacity: 1;
  margin-top: 20px;
  transition: all ease-out 0.3s;
}

.restaurant-lists.anim-out {
  opacity: 0;
  transform: scale(0) translateY(23px);
}

.restaurant-list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 80px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.restaurant-list.invisible {
  display: none;
}

.restaurant-list__tags {
  display: flex;
  position: absolute;
  width: 98%;
  top: 0;
  left: 0;
  margin: 10px;
}

.restaurant-list__tag {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 25px;
  background-color: var(--tag-color);
  opacity: 0.8;
  border-radius: 30px;
  margin-right: 10px;
}

.restaurant-list__tag .new {
  width: 35px;
  height: 15px;
  font-size: 10px;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  position: absolute;
  right: 0;
}

.restaurant-list:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.restaurant-list__imgBox {
  width: 100%;
  height: 230px;
  border-radius: var(--list-border-radius);
  overflow: hidden;
}

.restaurant-list__img {
  width: 100%;
  height: 100%;
}

.restaurant-list__textBox {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 90%;
  height: 100px;
  background-color: white;
  border-radius: var(--list-border-radius);
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.3);
}

.restaurant-list__textBox__name {
  display: block;
  margin: 15px 0px;
  font-size: 30px;
}

.restaurant-list__textBox__sub {
  display: block;
  margin-bottom: 25px;
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .restaurant-list {
    max-width: 100%;
  }
}

@media screen and (min-width: 530px) {
  .restaurant-list {
    max-width: 370px;
  }
}

.visitor {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
