.top-bars {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 20px var(--body-padding) 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  left: 0;
}
